<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Play song</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
	<h1>Playing</h1>
    <h3><a href="/">Go back to file listing</a></h3>
    <h2>{{fn}}</h2>
    <div id="note" style="text-align:center;font-size:50pt;">
        &#10;
    </div>
    <script>
        $(document).ready(function() {
            $.ajax('/convert?fn={{fn}}').done(function(midi) {
                console.log(midi);
                console.log('beginning..');
                for(var i in midi.tracks[1].notes) {
                    var note = midi.tracks[1].notes[i];
                    playNote(note.name, note.time);
                }
            });
        });

        function playNote(noteName, noteTime) {
            setTimeout(function() {
                //console.log(noteName);
                $('#note').text(noteName);
            }, 1000 * noteTime);
        }

    </script>
</body>
</html>