<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Play song</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/riffwave.js"></script>
</head>
<body>
	<h1>Playing</h1>
    <h3><a href="/">Go back to file listing</a></h3>
    <h2>{{fn}}</h2>
    <div id="note" style="text-align:center;font-size:50pt;">

    </div>
    <p id="midi" style="white-space: pre">

    </p>
    <script>
        $(document).ready(function() {

            var oldMidi = {
                header: {
                    bpm: 90,
                    timeSignature: [4,4],
                    PPQ: 4 
                },
                tracks: [
                    {
                        name: 'midi test',
                        instrument: 'piano',
                        notes: [
                            {
                                midi: 72,
                                time: 1,
                                name: 'C4',
                                velocity: 70,
                                duration: 1
                            },
                            {
                                midi: 74,
                                time: 2,
                                name: 'D4',
                                velocity: 70,
                                duration: 1
                            },
                            {
                                midi: 76,
                                time: 3,
                                name: 'E4',
                                velocity: 70,
                                duration: 1
                            },
                            {
                                midi: 77,
                                time: 4,
                                name: 'F4',
                                velocity: 70,
                                duration: 1
                            },
                            {
                                midi: 79,
                                time: 5,
                                name: 'G4',
                                velocity: 70,
                                duration: 1
                            },
                            {
                                midi: 72,
                                time: 6,
                                name: 'C4',
                                velocity: 70,
                                duration: 0.5
                            },
                            {
                                midi: 74,
                                time: 6.5,
                                name: 'D4',
                                velocity: 70,
                                duration: 0.5
                            },
                            {
                                midi: 76,
                                time: 7,
                                name: 'E4',
                                velocity: 70,
                                duration: 0.5
                            },
                            {
                                midi: 77,
                                time: 7.5,
                                name: 'F4',
                                velocity: 70,
                                duration: 0.5
                            },
                            {
                                midi: 79,
                                time: 8,
                                name: 'G4',
                                velocity: 70,
                                duration: 0.5
                            }
                        ]
                    }
                ]
            };

            var x = 0.25;

            var midi = {
                "header": {
                    "bpm": 90,
                    "timeSignature": [
                        4,
                        4
                    ],
                    "PPQ": 4
                },
                "tracks": [
                    {
                        "name": "midi test",
                        "instrument": "piano",
                        "notes": [
                            {
                                "midi": 72,
                                "time": 1*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 74,
                                "time": 2*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 76,
                                "time": 3*x,
                                "name": "C4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 4*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 79,
                                "time": 5*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 6*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 7*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": 2*x
                            },
                            {
                                "midi": 72,
                                "time": 9*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 10*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 11*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": 2*x
                            },
                            {
                                "midi": 72,
                                "time": 13*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 14*x,
                                "name": "G4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 15*x,
                                "name": "G4",
                                "velocity": 70,
                                "duration": 2*x
                            },
                            {
                                "midi": 72,
                                "time": 17*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 74,
                                "time": 18*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 76,
                                "time": 19*x,
                                "name": "C4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 20*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 79,
                                "time": 21*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 72,
                                "time": 22*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 74,
                                "time": 23*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 76,
                                "time": 24*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 25*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 26*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 27*x,
                                "name": "E4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 28*x,
                                "name": "D4",
                                "velocity": 70,
                                "duration": x
                            },
                            {
                                "midi": 77,
                                "time": 29*x,
                                "name": "C4",
                                "velocity": 70,
                                "duration": 4*x
                            }

                        ]
                    }
                ]
            }

            console.log(JSON.stringify(midi, null, '\t'));

            $('#midi').text(JSON.stringify(midi, null, '\t'));

            for(var i in midi.tracks[0].notes) {
                var note = midi.tracks[0].notes[i];
                playNote(note.name, note.time, note.duration);
            }

        });

        function playNote(noteName, noteTime, duration) {
            setTimeout(function() {
                $('#note').text(noteName);
                playHz(noteName, duration);
            }, 1000 * noteTime);
        }

        function playHz(name, seconds) {

            var noteMap = {
                C4: 261.625565,
                D4: 293.66,
                E4: 329.63,
                F4: 349.23,
                G4: 392.00
            }

            var hz = noteMap[name];

            var audio = new Audio();
            var wave = new RIFFWAVE();
            var data = [];

            wave.header.sampleRate = 44100;

            for (var i = 0; i < wave.header.sampleRate * seconds; i ++) {
                data[i] = Math.round(128 + 127 * Math.sin(i * 2 * Math.PI * hz / wave.header.sampleRate));
            }

            wave.Make(data);
            audio.src = wave.dataURI;
            audio.play();
        }
    </script>
</body>
</html>